.git
.gitignore
.env
.env.local
.env*.local
.next
.turbo
.turbopack
dist
build
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
.idea
.vscode
*.swp
*.swo
*~
.prisma/client
coverage
.nyc_output
*.md
README.md
LICENSE
docker-compose.yml
.dockerignore
Dockerfile
.github
.nvm
prisma/migrations
